extends layout

block li
    li.nav-item
        a(class="nav-link" href="/articles") Articles
    li.nav-item
        a(class="nav-link" href="/api") Documentation
    li.nav-item.active
        a(class="nav-link" href="/about") About

block content
    div.container
        p(class="text-justify").
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Sequi, dolorem sit id 
            dicta quod atque officiis debitis rem, dolor rerum 
            placeat odio aliquid, sed quae voluptatem adipisci 
            assumenda magni. Commodi quos beatae deleniti, libero 
            eius ex recusandae aut minima veniam omnis accusamus 
            corrupti quaerat eos porro laborum? Fuga beatae nisi 
            vel nesciunt repellendus at, labore quo laborum sit 
            totam et velit quisquam, dolores rem eveniet odit error 
            sequi! Maxime exercitationem veritatis maiores dolorem 
            reprehenderit recusandae atque, accusantium nostrum, 
            vel molestiae ipsa repellat natus expedita vitae! Ex 
            ut molestiae, corporis distinctio praesentium 
            exercitationem aperiam atque, aliquam obcaecati, 
            dolores molestias ad! Esse.

        hr
        p(class="text-justify").
            Commodi quos beatae deleniti, libero 
            eius ex recusandae aut minima veniam omnis accusamus 
            corrupti quaerat eos porro laborum? Fuga beatae nisi 
            vel nesciunt repellendus at, labore quo laborum sit 
            totam et velit quisquam, dolores rem eveniet odit error 
            sequi! Maxime exercitationem veritatis maiores dolorem 
            reprehenderit recusandae atque, accusantium nostrum, 
            vel molestiae ipsa repellat natus expedita vitae! Ex 
            ut molestiae, corporis distinctio praesentium 
            exercitationem aperiam atque, aliquam obcaecati, 
            dolores molestias ad! Esse.
            Here you have a lot of information of how to manipulate
            this totally free API, Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Sequi, dolorem sit id 
            dicta quod atque officiis debitis rem, dolor rerum 
            placeat odio aliquid, sed quae voluptatem adipisci 
            assumenda magni.
