doctype html
html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
        title Articles API
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            div.container
                a(class="navbar-brand" href="/" style="margin-right: 8%") API
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div(class="collapse navbar-collapse" id="navbarNav")
                    ul.navbar-nav
                        block li
        h1.text-center.text-dark.mt-4 #{title}
        hr
        block content
        block footer
